// Fitulacci contract
// Should only be published after functions.kdl is

// Fit (action: (Fit.Act)) : (Kindelia.IO (Apps.Fit.State))
fun (Fit action) {
  (Fit {Fit_Act_next code}) = {TAKE @state let y = (Fit_st_upd state code #0); dup _0 _1 = y; {SAVE _0 @~ {DONE _1}}}
} with {
  (Fit_st_init)
}
