fun (G_user_aux x0 x1 x2 x3) {
  (G_user_aux wallet {Fiv_kdl_spga players} ~ ~) =
    (PGet players wallet)
  (G_user_aux ~ ~ ~ ~) =
    {Maybe_none}
}

// Apps.Fiv.Kindelia.State.g_user (wallet: (U120)) (state: (Apps.Fiv.Kindelia.State)) : (Maybe (U120))
fun (Fiv_g_user wallet state) {
  (Fiv_g_user wallet {Fiv_kdl_snew .0 start state}) =
    (G_user_aux wallet .0 start state)
  (Fiv_g_user ~ ~) =
    {Maybe_none}
}