// Moves Character
// Id on map = player_num + 1024
// Directions:
//  0 = up
//  1 = left
//  2 = down
//  3 = right

// Can only be used if the game is on game phase


run {
  // Direction, player_num
  let code = (F_3_kdl_walk #1 #0);
  ask x = (Call 'F_3' {F_3_act_act code});
  (Done x)
}
