// Uses a skill from a character's skill slot at a point
// receives origin and destination, so it sends the delta to the contract
// Id on map = player_num + 1024

// Can only be used if the game is on game phase

run {
  // x0, y0, x1, y1, player_num, skill_slot
  let code = (F_2_kdl_skll #0 #1 #2 #3 #4 #5);
  ask x = (Call 'F_2' {F_2_act_act code});
  (Done x)
}
