// Apps.Fid.Kindelia (action: (Apps.Fid.Kindelia.Act)) : (Kindelia.IO (Apps.Fid.Kindelia.Response))
fun (Fid action) {
  (Fid {Fid_act_act code}) =
    dup _0 _1 = code;
    (KIOBind (KIOTake) @state (Fid_kdl_smat state @state.phase dup _14 _15 = state.phase;
    @state.start dup _10 _11 = state.start;
    dup _12 _13 = _10;
    @state.state dup _8 _9 = state.state;
    (KIOBind (KIOTick) @block let phs = _14;
    dup _6 _7 = phs;
    (Fid_kdl_spma _6 @~ let result = {Fid_res_wrph};
    (KIOBind (Fid_save {Fid_kdl_snew _15 _11 _8}) @~ (Fid_done result)) @~ let p = (Fid_st_upd _9 _0 (U120_sub_sat block _12));
    (Pair_match p @p.fst @p.snd dup _4 _5 = p.snd;
    let state = {Fid_kdl_snew _7 _13 p.fst};
    let player_num = (- (Fid_ac_gid _1) #1024);
    dup _2 _3 = player_num;
    (KIOBind (Fid_save state) @~ (Bool_if (BrTree_isemp _4) let result = {Fid_res_noac _2};
    (Fid_done result) let result = {Fid_res_acte _3 _5};
    (Fid_done result))))))))
  (Fid {Fid_act_get}) =
    (KIOBind (KIOTake) @state dup _0 _1 = state;
    let result = {Fid_res_stat _0};
    (KIOBind (KIOSave _1) @~ {DONE result}))
  (Fid {Fid_act_join subj kgt}) =
    dup _0 _1 = subj;
    (KIOBind (KIOTake) @s (KIOBind (KIOTick) @~ (Fid_kdl_smat s @s.phase @s.start dup _4 _5 = s.start;
    @s.state dup _2 _3 = s.state;
    let phs = s.phase;
    (Fid_kdl_spma phs @phs.queue (Fid_kdl_jlob _0 kgt _4 _2 phs.queue) @phs.players (Fid_kdl_jgam _1 _5 phs.players _3)))))
  (Fid {Fid_act_strt}) =
    (KIOBind (KIOTake) @state (KIOBind (KIOTick) @tick dup _10 _11 = tick;
    dup _12 _13 = _10;
    (Fid_kdl_smat state @state.phase @state.start dup _6 _7 = state.start;
    dup _8 _9 = _6;
    @state.state dup _2 _3 = state.state;
    dup _4 _5 = _2;
    let phs = state.phase;
    (Fid_kdl_spma phs @phs.queue dup _0 _1 = phs.queue;
    let to_start = #300;
    let duration = (U120_sub_sat _11 _7);
    let can_start = {Bool_true};
    (Bool_if can_start let starts = (Fid_map_inpo);
    let acc = {Fid_kdl_tsne starts {PEmpty} _3 #0};
    let fold = (List_fold _0);
    let data = (!(!fold acc) (Fid_kdl_tstf));
    (Fid_kdl_tsma data @~ @data.users @data.state @~ let phs = {Fid_kdl_spga data.users};
    let state = {Fid_kdl_snew phs _12 data.state};
    let result = {Fid_res_star _13};
    (KIOBind (Fid_save state) @~ (Fid_done result))) (KIOBind (Fid_save {Fid_kdl_snew {Fid_kdl_splo _1} _8 _4}) @~ let result = {Fid_res_nost (U120_sub_sat to_start duration)};
    (Fid_done result))) @phs.players (KIOBind (Fid_save {Fid_kdl_snew {Fid_kdl_spga phs.players} _9 _5}) @~ {DONE {Fid_res_wrph}})))))
  (Fid {Fid_act_rst}) =
    (KIOBind (KIOTake) @state dup _0 _1 = state;
    (KIOBind (KIOTick) @~ (Fid_kdl_smat _0 @state.phase @~ @~ let phase = state.phase;
    (Fid_kdl_spma phase @~ (KIOBind (Fid_save _1) @~ {DONE {Fid_res_wrph}}) @~ let phase = (Fid_kdl_spil);
    let state = (Fid_stt_buil);
    let s_blk = #0;
    let state = {Fid_kdl_snew phase s_blk state};
    (KIOBind (Fid_save state) @~ {DONE {Fid_res_rese}})))))
} with {
    {Fid_kdl_snew (Fid_kdl_spil) #0 (Fid_stt_buil)}
}
