// Apps.Fit.Kindelia (action: (Apps.Fit.Kindelia.Act)) : (Kindelia.IO (Apps.Fit.Kindelia.Response))
fun (Fit action) {
  (Fit {Fit_act_act code}) =
    (KIOBind (KIOTake) @state dup _2 _3 = state;
    dup _4 _5 = _2;
    (Fit_kdl_smat _3 @state.phase @~ @~ (KIOBind (KIOTick) @block let phs = state.phase;
    (Fit_kdl_spma phs @~ let result = {Fit_res_wrph};
    (KIOBind (Fit_save _4) @~ (Fit_done result)) @~ let p = (Fit_kdl_supd _5 code block);
    (Pair_match p @p.fst @p.snd dup _0 _1 = p.snd;
    (KIOBind (Fit_save p.fst) @~ (Bool_if (BrTree_isemp _0) let result = {Fit_res_noac};
    (Fit_done result) let result = {Fit_res_acte _1};
    (Fit_done result))))))))
  (Fit {Fit_act_get}) =
    (KIOBind (KIOTake) @state dup _0 _1 = state;
    let result = {Fit_res_stat _0};
    (KIOBind (KIOSave _1) @~ {DONE result}))
  (Fit {Fit_act_join subj kgt}) =
    dup _0 _1 = subj;
    (KIOBind (KIOTake) @s (KIOBind (KIOTick) @~ (Fit_kdl_smat s @s.phase @s.start dup _4 _5 = s.start;
    @s.state dup _2 _3 = s.state;
    let phs = s.phase;
    (Fit_kdl_spma phs @phs.queue (Fit_kdl_jlob _0 kgt _4 _2 phs.queue) @phs.players (Fit_kdl_jgam _1 _5 phs.players _3)))))
  (Fit {Fit_act_strt}) =
    (KIOBind (KIOTake) @state dup _2 _3 = state;
    dup _4 _5 = _2;
    dup _6 _7 = _3;
    (KIOBind (KIOTick) @tick dup _0 _1 = tick;
    (Fit_kdl_smat _4 @state.phase @state.start @~ let phase = state.phase;
    (Fit_kdl_spma phase @phase.queue let to_start = #300;
    let duration = (U120_sub_sat _0 state.start);
    let can_start = {Bool_true};
    (Bool_if can_start let starts = (Fit_map_inpo);
    let acc = {Fit_kdl_tsne starts {PEmpty} (Fit_kdl_sgst _5) #0};
    let fold = (List_fold phase.queue);
    let data = (!(!fold acc) (Fit_kdl_tstf));
    (Fit_kdl_tsma data @~ @data.users @data.state @~ let phase = {Fit_kdl_spga data.users};
    let timer = #0;
    let state = data.state;
    let state = {Fit_kdl_snew phase timer state};
    let result = {Fit_res_star _1};
    (KIOBind (Fit_save state) @~ (Fit_done result))) (KIOBind (Fit_save _6) @~ let result = {Fit_res_nost (U120_sub_sat to_start duration)};
    (Fit_done result))) @~ (KIOBind (Fit_save _7) @~ {DONE {Fit_res_wrph}})))))
  (Fit {Fit_act_rst}) =
    (KIOBind (KIOTake) @state dup _0 _1 = state;
    (KIOBind (KIOTick) @~ (Fit_kdl_smat _0 @state.phase @~ @~ let phase = state.phase;
    (Fit_kdl_spma phase @~ (KIOBind (Fit_save _1) @~ {DONE {Fit_res_wrph}}) @~ let phase = (Fit_kdl_spil);
    let state = (Fit_stt_buil);
    let s_blk = #0;
    let state = {Fit_kdl_snew phase s_blk state};
    (KIOBind (Fit_save state) @~ {DONE {Fit_res_rese}})))))
} with {
    {Fit_kdl_snew (Fit_kdl_spil) #0 (Fit_stt_buil)}
}