// Apps.Fiv.Kindelia (action: (Apps.Fiv.Kindelia.Act)) : (Kindelia.IO (Apps.Fiv.Kindelia.Response))
fun (Fiv action) {
  (Fiv {Fiv_act_act code}) =
    (KIOBind (KIOTake) @state dup _0 _1 = state;
    dup _2 _3 = _0;
    (Fiv_kdl_smat _1 @state.phase @~ @~ (KIOBind (KIOTick) @block let phs = state.phase;
    (Fiv_kdl_spma phs @~ let result = {Fiv_res_wrph};
    (KIOBind (KIOSave _2) @~ {DONE result}) @~ let p = (Fiv_kdl_supd _3 code block);
    let state = (Pair_fst p);
    let result = {Fiv_res_no};
    (KIOBind (KIOSave state) @~ {DONE result})))))
  (Fiv {Fiv_act_get}) =
    (KIOBind (KIOTake) @state dup _0 _1 = state;
    let result = {Fiv_res_stat _0};
    (KIOBind (KIOSave _1) @~ {DONE result}))
  (Fiv {Fiv_act_join subj kgt}) =
    dup _0 _1 = subj;
    (KIOBind (KIOTake) @s (KIOBind (KIOTick) @~ (Fiv_kdl_smat s @s.phase @s.start dup _4 _5 = s.start;
    @s.state dup _2 _3 = s.state;
    let phs = s.phase;
    (Fiv_kdl_spma phs @phs.queue (Fiv_kdl_jlob _0 kgt _4 _2 phs.queue) @phs.players (Fiv_kdl_jgam _1 _5 phs.players _3)))))
  (Fiv {Fiv_act_strt}) =
    (KIOBind (KIOTake) @state dup _2 _3 = state;
    dup _4 _5 = _2;
    dup _6 _7 = _3;
    (KIOBind (KIOTick) @tick dup _0 _1 = tick;
    (Fiv_kdl_smat _4 @state.phase @state.start @~ let phase = state.phase;
    (Fiv_kdl_spma phase @phase.queue let to_start = #300;
    let duration = (U120_sub_sat _0 state.start);
    let can_start = {Bool_true};
    (Bool_if can_start let starts = (Fiv_map_inpo);
    let acc = {Fiv_kdl_tsne starts {PEmpty} (Fiv_kdl_sgst _5) #0};
    let fold = (List_fold phase.queue);
    let data = (!(!fold acc) (Fiv_kdl_tstf));
    (Fiv_kdl_tsma data @~ @data.users @data.state @~ let phase = {Fiv_kdl_spga data.users};
    let timer = #0;
    let state = data.state;
    let state = {Fiv_kdl_snew phase timer state};
    let result = {Fiv_res_star _1};
    (KIOBind (KIOSave state) @~ {DONE result})) (KIOBind (KIOSave _6) @~ let result = {Fiv_res_nost (U120_sub_sat to_start duration)};
    {DONE result})) @~ (KIOBind (KIOSave _7) @~ {DONE {Fiv_res_wrph}})))))
  (Fiv {Fiv_act_rst}) =
    (KIOBind (KIOTake) @state dup _0 _1 = state;
    (KIOBind (KIOTick) @~ (Fiv_kdl_smat _0 @state.phase @~ @~ let phase = state.phase;
    (Fiv_kdl_spma phase @~ (KIOBind (KIOSave _1) @~ {DONE {Fiv_res_wrph}}) @~ let phase = (Fiv_kdl_spil);
    let state = (Fiv_stt_buil);
    let s_blk = #0;
    let state = {Fiv_kdl_snew phase s_blk state};
    (KIOBind (KIOSave state) @~ {DONE {Fiv_res_rese}})))))
} with {
    {Fiv_kdl_snew (Fiv_kdl_spil) #0 (Fiv_stt_buil)}
}