// Joins the game
// If game is in the lobby phase, joins a queue to enter the game
// If game is in the game phase, joins the game and places a character in the map

run {
  // Wallet and Kgt invested
  ask x = (Call 'Fid' {Fid_act_join #0 #1});
  (Done x)
}
