@import url("https://fonts.googleapis.com/css2?family=Press Start 2P&display=swap");

body {
  font-family: "Press Start 2P", sans-serif;
  color: white;
}

@keyframes blob {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: 256px;
  }
}